<launch>

  <arg name="maze_id" default="1" />

  <!-- 设置launch文件参数 -->
  <arg name="world_name" value="$(find turtle_helper)/worlds/maze$(arg maze_id).world" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="max_angle" default="1.5707"/>
  <arg name="min_angle" default="-1.5707"/> 
  <arg name="speed_angle" default="100"/>
  <arg name="robot_namespace" default="/diff_robot"/>
  <arg name="lidar_high" default="0.66053"/>

  <!-- 运行gazebo仿真环境 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  <!-- 加载机器人模型描述参数 -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro -i '$(find 
        turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro'" /> -->
  <param name="robot_description" command="$(find xacro)/xacro -i '$(find kobuki_gazebo)/urdf/xacro/gazebo/kobuki_with_sensors.urdf.xacro'
          MAX_ANGLE:=$(arg max_angle)
          MIN_ANGLE:=$(arg min_angle)
          SPEED_ANGLE:=$(arg speed_angle)
          lidar_high:=$(arg lidar_high)
          robot_namespace:=robot 
          prefix:=robot" />

  <!-- 运行joint_state_publisher节点，发布机器人的关节状态 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- 运行robot_state_publisher节点，发布TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- 在gazebo中加载机器人模型 -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="
            -urdf 
            -model robot 
            -param robot_description 
            -x 0 
            -y -3.0 
            -Y 3.14" />
  
  <!-- 加载导航目标 -->
  <node name="spawn_goal" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="
        -file $(find turtle_helper)/worlds/goal.urdf 
        -urdf 
        -x 
        -3.8 
        -y -3.8 
        -z 0.1 
        -model goal  " />

</launch>



